name: "Build"
on:
  pull_request:
  push:
jobs:
  build:
    strategy:
      matrix:
       os: [ ubuntu-latest, macos-latest ]
       # we need this to map platform names as used by github to
       # the attribute names defined in release.nix
       include:
         - os: ubuntu-latest
           os_attr: linux
         - os: macos-latest
           os_attr: darwin
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: run cabal check
        run: nix-shell --pure --command "cabal check --verbose=3"
      - name: build hevm
        run: nix build .#withTests -L
      - name: run rpc tests
        run: nix-shell --pure --command "cabal run rpc-tests"
      - name: run ethereum tests
        run: nix-shell --command "cabal run ethereum-tests"
