name: "Build"
on:
  pull_request:
  push:
jobs:
  build:
    strategy:
      matrix:
       os: [ ubuntu-latest, macos-latest ]
       # we need this to map platform names as used by github to
       # the attribute names defined in release.nix
       include:
         - os: ubuntu-latest
           os_attr: linux
         - os: macos-latest
           os_attr: darwin
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          # https://discourse.nixos.org/t/understanding-binutils-darwin-wrapper-nix-support-bad-substitution/11475/2
          nix_path: nixpkgs=channel:nixos-unstable
      - name: build hevm
        run: nix-build
      - name: run rpc tests
        run: nix-shell --pure --command "cd src/hevm && cabal run rpc-tests"
